<div>
  <!-- Navigation -->
  <nav class="w3-bar w3-black">
    <a routerLink="/home" class="w3-button w3-bar-item">home</a>
    <a routerLink="/electronic" class="w3-button w3-bar-item">electronic</a>
    <a [routerLink]="['/electronic',3]" class="w3-button w3-bar-item">electronic/id</a>
    <a routerLink="/clothing" class="w3-button w3-bar-item">clothing</a>
  </nav>

  <router-outlet></router-outlet>

</div>